---
import type { Stats as Props } from '~/types';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from '../ui/Headline.astro';
import { Icon } from 'astro-icon/components';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  stats = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="flex flex-wrap justify-center text-center">
    {
      stats &&
        stats.map(({ amount, title, icon }) => (
          <div class="p-6 md:w-1/4 sm:w-1/2 w-full min-w-[220px] text-center md:border-r md:last:border-none border-gray-200 dark:md:border-slate-600 hover:bg-gradient-subtle transition-all duration-300 rounded-lg mx-2 my-2">
            {icon && (
              <div class="flex items-center justify-center mx-auto mb-6 text-primary bg-gradient-to-r from-primary to-secondary bg-clip-text">
                <Icon name={icon} class="w-12 h-12" />
              </div>
            )}
            {amount && (
              <div class="font-heading bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent text-[3rem] font-bold lg:text-6xl xl:text-7xl animate-bounce-in hover:animate-tada cursor-pointer">
                {amount}
              </div>
            )}
            {title && (
              <div class="text-sm font-semibold uppercase tracking-wider text-muted lg:text-base mt-2">{title}</div>
            )}
          </div>
        ))
    }
  </div>
</WidgetWrapper>
